<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }

            a {
                text-decoration: none;
                color:blueviolet;

            }

            a:hover {
                color:brown;
            }

        </style>
    </head>
    <body>

            <a href="/blog">Blogs</a> || 
            <a href="/newpost">Add a new blog</a>
            <br>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
            <a href="/logout">Logout</a>
            <a href="/">Home</a>
            <hr>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
                {% for category,message in messages %}
                    <li class="{{category}}">{{message}}</li>
                {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
</html>