{% extends "base.html" %}

{% block content %}
        <h1>Build a Blog</h1>

        {% for blog in blogs %}
            <form action="/blog" name="id">
            <h1>
                <a href="./blog?id={{blog.id}}">
                {{blog.name}} 
                <input id="blog-id" type="hidden" name="blog_id" value="{{blog.id}}" />
                </a>
            </h1>
            <h3>{{blog.text}}</h3>
            <h4>by
                    <a href="./?user={{user.id}}">
                        {{user.username}} 
                        <input id="user-id" type="hidden" name="user_id" value="{{user.id}}" />
                    </a>
            </h4>
            </form>
            <hr>
        {% endfor %}


{% endblock %}